<nav class="navbar navbar-default navbar-fixed-top yalday-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><b>[Logo]</b></a>

      <button type="button" class="navbar-toggle" (click)="onToggleMenu()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>


    <div class="collapse" [ngClass]="{'toggleMenuStyle' : toggleMenu === true}">
      <ul class="nav navbar-nav navbar-links">
        <li><a routerLink="/dashboard">Home</a></li>
        <li><a routerLink="/merchants">Login/Register</a></li>
      </ul>
    </div>
  </div>
</nav>



