.jumbotron
{
    margin-top:15em;
    margin-left:5em;
    margin-right:5em;
    margin-bottom:5em;
    min-width:150px;

}

.panel
{
    min-height:0px;
    min-width:0px;
    margin:10px;
    box-shadow: 1px 1px 1px;
    border: 1px solid #dddddd;
    color: rgba(0,0,0,0.9);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1),
                 0px -5px 35px rgba(255,255,255,0.9);
}

a:link {
    color: pink;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #3AAFA9;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #3AAFA9;
    text-decoration: none;
}


.badge {
   background-color: #3AAFA9;
   min-height:40px;
   padding:15px;
}

.h2
{
  margin:30px;

}
