<h2>My Merchants</h2>
<ul class="merchants">
  <li *ngFor="let merchant of merchants"
      [class.selected]="merchant === selectedMerchant"
      (click)="onSelect(merchant)">
    <span class="badge">{{merchant.id}}</span> {{merchant.name}}
  </li>
</ul>

<div *ngIf="selectedMerchant">

  <h2>{{ selectedMerchant.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedMerchant.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedMerchant.name" placeholder="name">
    </label>
  </div>

</div>
