<div class="container">
  <div class="row">
<app-merchant-search></app-merchant-search> 
</div>




<div class="row">
 <div class="jumbotron text-center">
    <h1>Top 5</h1>
    <p>The Top 5 deals Information will go here - pre-populated list that matches the customers past booking experiences</p>
 </div>
  </div>

<div class="row">
 <div class="jumbotron text-center">
    <h1>Food</h1>
    <p>The pre-populated list of Food related merchants will go here</p>
 </div>
  </div>


<div class="row">
 <div class="jumbotron text-center">
    <h1>Tours</h1>
    <p>The Tour Information will go here</p>
 </div>
  </div>


<div class="row">
 <div class="jumbotron text-center">
    <h1>Adventure</h1>
    <p>The pre-populated list of Adventure related merchants will go here</p>
 </div>
  </div>
	
</div>

